*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowwrap;
    background: yellow;
    height: 800px;
}
.flex-item{
    /*flex-grow: 1;
    flex-basis: 320px;
    flex-shrink: 1;*/
    /* flex: 1 1 320px; grow/shink/basis --> forma curta */
    width: 100%;
    color: #fff;
    background: red;
}
/*
.flex-item:nth-child(2){
    align-self: flex-end;
    margin-bottom: 300px;
}
.flex-item:nth-child(3){
    align-self: center;
    background-color: turquoise;

}
.flex-item:nth-child(4){
    align-self: stretch;
}*/

.flex-item:nth-child(1){
    order: ;
}