/*
ID, CLASSES,ATRIBUTOS E PSEUDO-CLASSES // ELEMENTOS E PSEUDO-ELEMENTOS
ESPECIFICIDADE
EMPATE
STYLE
!IMPORTANT ****
*/

#texto{
    font-family: sans-serif;
    color: red;
    font-size: 70px;
}

p{
    font-size: initial;
}